@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */

.navbar {
    position: relative;
}

.navbar-opacity {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.845) 3.9%, rgba(255, 255, 255, 0.126) 99.95%);
    backdrop-filter: blur(0.8571428656578064px);
    border-radius: 8.571px;
    opacity: 0.2;
    pointer-events: none;
}

.navbarTitle {
    background: linear-gradient(to bottom, #ffffff 40%, #d2c3f6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.underline-hover:hover {
    position: relative;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    color: #d2c3f6;
    scale:0.95
}

.underline-hover::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 100%;
    height: 2px;
    background: linear-gradient(90deg, #d2c3f6, transparent);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.underline-hover:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    right: 0;
}

.underlined {
    width: 100%;
    margin: 1.5px 0;
    height: 2px;
    background: linear-gradient(90deg, #d2c3f6, transparent);
    border: 0;
}

.imgNavbar {
    animation: fadeInOutNavbarImage 0.8s ease-out forwards;
}

.navbarTextOpacity {
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInOutNavbarImage {
    from {
        transform: translate(0%, 50%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

/* General */

.mainBackground {
    background: rgb(33, 33, 33);
    
}

.shadow:hover {
    box-shadow: 0 0 10px #d2c3f6;
}

.shadow2:hover {
    box-shadow: 0 0 20px #d2c3f6;
}

.float{
    animation: floatAnimation 1s infinite ease-in-out;
}

input[type="number"] {
    -moz-appearance: textfield;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

/* Modal */

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeInOverlay 0.4s ease-out forwards;
}

.overlay.open {
    display: block;
}

.loanOverlay{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeInLoanOverlay 0.4s ease-out forwards;
}

.loanOverlay.open{
    display: block;
}

.imageModal {
    position: fixed;
    top: 50%;
    left: 40%;
    opacity: 0;
    animation: fadeInOutModal 0.8s ease-out forwards;
}

.textModal {
    margin: 100px 0;
    position: fixed;
    top: 40%;
    left: 93%;
    opacity: 0;
    width: 25%;
    height: 90%;
    animation: fadeInOutTextModal 0.8s ease-out forwards;
    z-index: 1000;
}

.loanModal {
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInOutModal 0.8s ease-out forwards;
    z-index: 1000;
}

.loanModal.closing {
    animation: fadeOutModal 0.8s ease-out forwards;
}

.imagenModalMove {
    width: 66%;
}

.imageModal.closing {
    animation: fadeOutModal 0.8s ease-out forwards;
}

.textModal.closing {
    animation: fadeOutTextModal 0.8s ease-out forwards;
}

.image-transition {
    position: relative;
    overflow: hidden;
}

.animate-transition-prev {
    animation: moveAndAppearPrev 0.4s ease-out forwards;
}

.animate-transition-next {
    animation: moveAndAppearNext 0.4s ease-out forwards;
}

.animate-transition-initial-prev {
    animation: moveNextAndAppearCenter 0.4s ease-out forwards;
}

.animate-transition-initial-next {
    animation: movePrevAndAppearCenter 0.4s ease-out forwards;
}

.modalAnimatedLine {
    transform: scaleX(0);
    width: 100%;
    transform-origin: 0 0;
    animation: showModalAnimatedLine 0.4s ease-out 0.4s forwards;
    margin: px 0;
    height: 2px;
    background: linear-gradient(90deg, #d2c3f6, transparent);
    border: 0;
}

.modalAnimatedText {
    opacity: 0;
    animation: showModalAnimatedText 0.4s ease-out 0.4s forwards;
}

.modalNftImage {
    animation: floatModalImageAnimation 2s infinite ease-in-out;
}

@keyframes floatModalImageAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes showModalAnimatedText {
    to {
        opacity: 1;
    }
}

@keyframes showModalAnimatedLine {
    to {
        transform: scaleX(1);
    }
}

@keyframes moveNextAndAppearCenter {
    0% {
        opacity: 0;
        transform: translateX(300%);
        scale: 0.75
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        scale: 1
    }
}

@keyframes movePrevAndAppearCenter {
    0% {
        opacity: 0;
        transform: translateX(-300%);
        scale: 0.75
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        scale: 1
    }
}

@keyframes moveAndAppearNext {
    0% {
        opacity: 1;
        transform: translateX(0);
        scale: 1
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateX(300%);
        scale: 0.75
    }
}

@keyframes moveAndAppearPrev {
    0% {
        opacity: 1;
        transform: translateX(0);
        scale: 1
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateX(-300%);
        scale: 0.75
    }
}

@keyframes fadeInOutTextModal {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    to {
        opacity: 1;
        transform: translate(-80%, -50%);
    }
}

@keyframes fadeOutTextModal {
    from {
        opacity: 1;
        transform: translate(-80%, -50%);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeInLoanOverlay{
    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeInOverlay {
    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, 0.998);
    }
}

@keyframes fadeInOutModal {
    from {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeOutModal {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    to {
        opacity: 0;
        transform: translate(-50%, 50%);
    }
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes scale {
    from {
        opacity: 0;
        scale: 20%
    }

    to {
        opacity: 1;
        scale: 100%
    }
}

/*  Loader */

.spinner {
    position: relative;
    width: 100px;
    height: 100px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes colorChange {

    0%,
    100% {
        background-color: #fcfcfc;
    }

    50% {
        background-color: #d2c3f6;
    }
}
